## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','STATUS','SPECIAL_CONSIDERATIONS'], axis=1, inplace=True)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_value_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 600
application_types_to_replace = application_type_value_counts[application_type_value_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classfication_value_counts = application_df['CLASSIFICATION'].value_counts()
classfication_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_to_keep = classfication_value_counts[classfication_value_counts > 1]
classifications_to_keep

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000
classifications_to_replace = classfication_value_counts[classfication_value_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
name_count_value_counts = application_df['NAME'].value_counts()
name_count_value_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [10]:
name_cutoff_value = 10
name_count_to_replace = name_count_value_counts[name_count_value_counts < name_cutoff_value].index.tolist()

# Replace in dataframe
for cls in name_count_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: count, Length: 223, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
new_df = pd.get_dummies(application_df, dtype=float)
new_df

,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
x = new_df[[col for col in new_df.columns if col != 'IS_SUCCESSFUL']]
y = new_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the New Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(x_test_scaled[0])
hidden_nodes_layer1 =  50
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units= hidden_nodes_layer1, activation="relu", input_dim = number_input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units = hidden_nodes_layer3, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                13150

 dense_1 (Dense)             (None, 30)                1530

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 15001 (58.60 KB)
Trainable params: 15001 (58.60 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn_model.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4847 - accuracy: 0.7651
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4420 - accuracy: 0.7841
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4382 - accuracy: 0.7869
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4362 - accuracy: 0.7888
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4355 - accuracy: 0.7887
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4335 - accuracy: 0.7901
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4336 - accuracy: 0.7892
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4327 - accuracy: 0.7895
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4318 - accuracy: 0.7906
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4312 - accuracy: 0.7910
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4298 - accuracy: 0.7915
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4295 - accuracy: 0.7930
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4291 - accuracy: 0.7918
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7919
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7916
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4274 - accuracy: 0.7914
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4269 - accuracy: 0.7939
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4269 - accuracy: 0.7924
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4263 - accuracy: 0.7942
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7942
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4257 - accuracy: 0.7940
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4251 - accuracy: 0.7951
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4248 - accuracy: 0.7946
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4244 - accuracy: 0.7950
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4243 - accuracy: 0.7943
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7947
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4238 - accuracy: 0.7961
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4231 - accuracy: 0.7958
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4230 - accuracy: 0.7964
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4225 - accuracy: 0.7952
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4226 - accuracy: 0.7970
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4225 - accuracy: 0.7966
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4215 - accuracy: 0.7969
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.7958
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4215 - accuracy: 0.7963
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4214 - accuracy: 0.7970
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4210 - accuracy: 0.7969
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7970
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7973
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7972
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4195 - accuracy: 0.7979
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4201 - accuracy: 0.7977
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4195 - accuracy: 0.7970
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4195 - accuracy: 0.7969
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7977
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.7973
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7980
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.7979
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7979
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7977
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4185 - accuracy: 0.7975
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7971
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7982
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7988
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4182 - accuracy: 0.7982
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7986
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7983
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4172 - accuracy: 0.7984
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7987
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7983
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7976
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7982
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7991
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.7968
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4166 - accuracy: 0.7983
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4165 - accuracy: 0.7990
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4168 - accuracy: 0.7987
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4165 - accuracy: 0.7998
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7979
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.7995
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4160 - accuracy: 0.7993
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7988
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4160 - accuracy: 0.7990
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7991
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7982
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7988
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4157 - accuracy: 0.7985
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4157 - accuracy: 0.7991
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4156 - accuracy: 0.7986
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4154 - accuracy: 0.7995
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7994
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.7991
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7998
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7988
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7982
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.7999
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4147 - accuracy: 0.7991
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.7992
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.7986
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4146 - accuracy: 0.8000
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.7989
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4146 - accuracy: 0.7991
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.7990
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4144 - accuracy: 0.7994
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4145 - accuracy: 0.7991
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4141 - accuracy: 0.8006
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4146 - accuracy: 0.7990
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4141 - accuracy: 0.8000
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.7984
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4140 - accuracy: 0.7991

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4860 - accuracy: 0.7768 - 716ms/epoch - 3ms/step
Loss: 0.4859582185745239, Accuracy: 0.7767930030822754

In [18]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(